<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings file="LocalSettings.config">
    <add key="OrgNrReceiver" value="910297937"/>    <!--Arkitektum-->
    <!--<add key="OrgNrReceiver" value="910230557"/>    NOIS-->
    <!--<add key="OrgNrReceiver" value="910230549"/>    Norkart-->
  </appSettings>
  
  <system.serviceModel>
    <bindings> 
      <customBinding>
        <binding name="ForsendelsesServiceV8SoapBinding" sendTimeout="00:03:00">
          <mtomMessageEncoding maxReadPoolSize="211" maxWritePoolSize="2132" messageVersion="Soap12" writeEncoding="utf-8" />
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Basic" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://test.svarut.ks.no/tjenester/forsendelseservice/ForsendelsesServiceV8" binding="customBinding" bindingConfiguration="ForsendelsesServiceV8SoapBinding" contract="KommIT.FIKS.AdapterAltinnSvarUt.Services.WS.SvarUt.Forsendelse8.ForsendelsesServiceV8" name="ForsendelsesServiceV8" />
    </client>
  </system.serviceModel>
</configuration>