<?xml version="1.0" encoding="utf-8"?>
<appSettings>


  <!--Hentes i Svarut-konfigurasjonen for sending-->
  <add key="SvarUtUsername" value=""/>
  <add key="SvarUtPassword" value=""/>

  <!--Hentes i Svarut-konfigurasjonen for mottaksservice-->
  <add key="OrgNrReceiver" value=""/>

</appSettings>