<?xml version="1.0" encoding="utf-8"?>
<appSettings>


  <!--Hentes i Svarut-konfigurasjonen for sending-->
  <add key="SvarUtUsername" value=""/>
  <add key="SvarUtPassword" value=""/>

  <!--Hentes i Svarut-konfigurasjonen for mottaksservice-->
  <!--910297937 Mottakssystem for Arkitektum test-->
  <!--910230557 Mottakssystem for NOIS test-->
  <!--910230549 Mottakssystem for Norkart test-->
  <add key="OrgNrReceiver" value=""/>

</appSettings>