
Geointegrasjon\.Matrikkelfoering\.Sample/Geointegrasjon\.Matrikkelfoering\.Sample/LocalSettings\.config
Geointegrasjon\.Matrikkelfoering\.Sample/Geointegrasjon\.Matrikkelfoering\.ReceiveSample/LocalSettings\.config
/.vs
